/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* .carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(243, 243, 243, 0.866); 
} */

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover{
    background-color: rgba(213, 213, 213, 0.54); 
}
.no-outline:focus {
  outline: none;
}
/* Ẩn nút lên xuống */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.modal-body::-webkit-scrollbar {
  width: 8px;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

